@model MyMemory.MVC.Models.GroupEditVM

@{
    ViewBag.Title = @Model.Name;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Question
            </td>
            <td>
                @item.Answer
            </td>
            <td>
                @Html.ActionLink("Edit", "EditItem", "Home", new { }, new { @class = "dialog-edit", data_id = item.Id })
            </td>
        </tr>
    }
</table>