@model MyMemory.MVC.Models.ItemEditVM
<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id, new { Name = "id" })

        <div>
            @Html.LabelFor(x => x.GroupName)
            <p>@Html.DropDownListFor(x => x.GroupId, Model.ListGroups, new { Name = "groupID", @class = "form-control" })</p>
        </div>
        
        <div>
            @Html.LabelFor(x => x.Question)
            <p>@Html.TextAreaFor(x => x.Question, new { Name = "question", @class = "form-control" })</p>
        </div>
        
        <div>
            @Html.LabelFor(x => x.Answer)
            <p>@Html.TextAreaFor(x => x.Answer, new { Name = "answer", @class = "form-control" })</p>
        </div>
    }
</div>