@using MyMemory.MVC.Models
@model HomeVM

@{
    ViewBag.Title = "MyMemory";
}

<h2>Группы</h2>

<table class="table">
    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>
                @Html.RouteLink(@group.Name, "RouteStudyGroup", new { id = @group.Id })
            </td>
            <td>
                @Html.RouteLink("Edit", "RouteEditGroup", new { id = @group.Id })
            </td>
        </tr>
    }
</table>